<%- include("../partials/header", {title}) %>
<div class="bulletpage">
  <h1>Got any side notes?</h1>
  <% if (user) { %>
  <form action="/bullets" method="POST" class="new-form">
    <label>Add Notes:
        <input type="text" name="journal">
    </label>
    <label>Date:
      <input type="date" name="currentDate">
  </label>
    <div class="button-wrapper">
      <button class="addBtn" type="submit">Add Note</button>
      </div>
    </form>
    <section class="results2">
      <% bullets.forEach(b => { %>
      <div>Journal:</div>
      <div>
          <%=b.journal%>
      </div>
      <div>Date:</div>
      <div>
          <%=b.currentDate%>
      </div>
    <form action="/bullets/<%= b._id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
<% }) %>
</section>
    <%}else { %>
      <h2>Please <a href="/auth/google">Login</a> to Add a to Journal</h2>
<%} %>
<%- include("../partials/footer") %>