<%- include("../partials/header", {title}) %>
<div class="bulletpage">
  <h1>Got any side notes?</h1>
  
  <form action="/bullets" method="POST" class="new-form">
    <label>Add Notes:
      <input type="text" name="journal">
    </label>
    <label>Date:
      <input type="date" name="currentDate">
    </label>
    <div class="button-wrapper">
      <button class="addBtn" type="submit">Add Note</button>
    </div>
  </form>
  <section class="results2">
    <% bullets.forEach(b => { %>
    <div><strong>Journal:</strong></div>
    <br>
    <div>
      <%=b.journal%>
    </div>
    <br>
    <div><strong>Date:</strong></div>
    <br>
    <div>
      <% b.currentDate.setDate(b.currentDate.getDate() + 1) %>
        <% b.currentDate.setMonth(b.currentDate.getMonth() + 1)%>
        <%=b.currentDate.getMonth() +"/" + b.currentDate.getDate()+"/" +b.currentDate.getFullYear()%>
    </div>
    <br>
    <form action="/bullets/<%= b._id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit">Delete</button>
    </form>
  <% }) %>
</div>
</section>

<%- include("../partials/footer") %>