<%- include("../partials/header", {title}) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Got any Goals?</h1>

    <label>Name:
        <input type="text" name="taskName">
    </label>
    <label>Due Date:
        <input type="date" name="dueDate">
    </label>
    <label>Goal Type:
        <select name="goalType">
            <option value="Priority">Priority</option>
            <option value="Median">Median</option>
            <option value="Unimportant">Unimportant</option>
        
        </select>
    </label>

    <div class="button-wrapper">
        <button class="addBtn" type="submit">Add Goal</button>
        </div>
      </form>
      <section class="results"><% goals.forEach(g => { %>
        <div>Goal Name:</div>
        <div>
            <%=g.goalName%>
        </div>
        <div>Due Date:</div>
        <div>
          <%=g.dueDate%> 
        </div>
        <div>Notes:</div>
        <div>
            <%=g.notes%>
        </div>
        <form action="/tasks/<%= t.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <br>
        <% }) %>
      </section>

</body>
</html>



<%- include("../partials/footer") %>