<%- include("../partials/header", {title}) %>
<main class="main-container">
  <% if ( user && user._id == task.user) {%>
    <div class="addTask">
      <h1>Add Tasks</h1>
        <form action="/tasks" method="POST" class="new-form">
          <label>Name:
            <input type="text" name="taskName">
          </label>
          <label>Due Date:
            <input type="date" name="dueDate">
          </label>
          <label>Task Type:
            <select name="taskType">
                <option value="Work">Work</option>
                <option value="Health">Health</option>
                <option value="Fitness">Fitness</option>
                <option value="Household">Household</option>
                <option value="Travel">Travel</option>
                <option value="Shopping">Shopping</option>
                <option value="Other">Other</option>
            </select>
          </label>
          <div class="button-wrapper">
            <button class="addBtn" type="submit">Add Task</button>
          </div>
        </form>
    </div>
    <% tasks.forEach(t => { %>
      <%if(user.name == t.userName){%>
      <section>
        <%let now = new Date()%>
        <article class="task">
          <h3 class="task-title"><%=t.taskName%></h3>
          <p class="task-info">Due Date: 
            <% t.dueDate.setMonth(t.dueDate.getMonth() + 1)%>
            <%=t.dueDate.getMonth() +"/" + t.dueDate.getDate()+"/" +t.dueDate.getFullYear()%>
          </p>
          <p class="task-info">Task Type: <%=t.taskType%></p>
          <% if(t.dueDate){ %>
            <% if((t.dueDate - now)>0){ %>
              <% t.dueDate.setDate(t.dueDate.getDate()) %>
              <% t.dueDate.setMonth(t.dueDate.getMonth() - 1)%>
              <p class="task-info">This task has <%=parseInt((t.dueDate - now)/ (1000 * 3600 * 24))%> days more</p>
            <%}else { %>
              <p class="task-info">This task has passed the due date.</p>
            <%} %>
          <%} %>
          <form action="/tasks/<%= t._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">Delete</button>
          </form>
        </article>
        <br>
      </section>
      <%}%>
    <% }) %>
  <%}else { %>
    <h2><a href="/auth/google">Login</a></h2>
  <%} %>
</main>
<%- include("../partials/footer") %>