<%- include("../partials/header", {title}) %>
<main class="main-container">
  <div class="addTask">
<h1>Add Tasks</h1>

<% if (user) { %>
<form action="/tasks" method="POST" class="new-form">
  <label>Name:
      <input type="text" name="taskName">
  </label>
  <label>Due Date:
      <input type="date" name="dueDate">
  </label>
  <label>Task Type:
      <select name="taskType">
          <option value="Work">Work</option>
          <option value="Health">Health</option>
          <option value="Fitness">Fitness</option>
          <option value="Household">Household</option>
          <option value="Travel">Travel</option>
          <option value="Shopping">Shopping</option>
          <option value="Other">Other</option>
      </select>
  </label>
  <div class="button-wrapper">
  <button class="addBtn" type="submit">Add Task</button>
  </div>
</div>
</form>
<%}else { %>
  <h2><a href="/auth/google">Login</a> to Add a Task</h2>
<%} %>
<section class="results">
  <% tasks.forEach(t => { %>
    <%let now = new Date()%>
    <article class="task">
      <h3 class="task-title"><%=t.taskName%></h3>
      <p class="task-info">Due Date: <%=t.dueDate%></p>
      <p class="task-info">Task Type: <%=t.taskType%></p>
      <% if(t.dueDate){ %>
        <% if((t.dueDate - now)>0){ %>
          <p class="task-info">This task has <%=parseInt((t.dueDate - now)/ (1000 * 3600 * 24))%> days more</p>
        <%}else { %>
          <p class="task-info">This task has passed the due date.</p>
        <%} %>
      <%} %>
      <form action="/tasks/<%= t._id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Delete</button>
      </form>
    </article>
  <% if (user?._id.equals(t.user)) { %>
  <form action="/tasks/<%= t._id %>?_method=DELETE"
    class="delete-form" method="POST">
    <button type="submit">Delete</button>
  </form>
  <% } %>
  <br>
</section>
<% }) %>
</main>

<%- include("../partials/footer") %>